module.exports = {
    server: {
        hostConfig: {
            host: "localhost",
            port: 3000
        },
        authConfig: {
            active: true,
            username: "username",
            password: "password"
        }
    },
    proxy: [
        {
            name: "example_metric",
            active: true,
            interval: 10,
            autoRemove: {
                interval: 86400,
                age: 86400
            },
            config: {
                method: "GET",
                url: "https://example.com/api/v2/metric/example/count.json",
                transformResponse: [
                    (data) => {
                        try {
                            let responseData = JSON.parse(data);

                            return {value: responseData["count"]}
                        } catch (e) {
                            return {error: e}
                        }
                    }
                ]
            }
        }
    ],
    influxDB: {
        port: 8086,
        host: "localhost",
        username: "username",
        password: "password",
        database: "database"
    }
};
